---
import { getEntry } from 'astro:content'
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import About from '@/components/landing/About.astro'
import Contact from '@/components/landing/Contact.astro'
import Events from '@/components/landing/Events.astro'
import Hero from '@/components/landing/Hero.astro'
import Separator from '@/components/Separator.vue'
import { getLangFromUrl } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const page = await getEntry('index', lang)

if (!page) {
  throw new Error('Could not find page')
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={page.data.title} description={page.data.description} />
  </head>
  <body>
    <Header />
    <main class="my-16 lg:my-48">
      <Hero page={page} lang={lang} />
      <Separator />
      <About page={page} lang={lang} />
      <Separator />
      <Events page={page} lang={lang} />
      <Separator />
      <Contact lang={lang} />
    </main>
    <Footer />
  </body>
</html>
