---
import type { LanguageKeys } from '@/i18n'
import { useTranslations } from '@/i18n'
import { siteConfig } from '@/site.config'
import Container from './vue/Container.vue'
import TimeLocal from './vue/TimeLocal.vue'

interface Props {
  lang: LanguageKeys
}

const { lang } = Astro.props

const { email, footer, socialMediaLinks } = siteConfig
const t = useTranslations(lang)
---

<footer class="bg-foreground text-background">
  <section id="contacts">
    <Container grid class="gap-y-12 py-32 md:py-48 lg:py-64">
      <div class="col-span-12">
        <h2 class="text-5xl leading-tight font-semibold tracking-tighter md:text-6xl lg:text-7xl xl:text-8xl">
          {t('nav.contacts')}
        </h2>
      </div>

      <div class="col-span-12 grid grid-cols-1 gap-16 md:grid-cols-12">
        <div class="md:col-span-4">
          <span class="font-mono text-xs tracking-wider uppercase opacity-50">
            {t('contact.email')}
          </span>
          <a
            href={`mailto:${email}`}
            class="mt-4 block text-2xl leading-normal transition-opacity hover:opacity-50 md:text-3xl lg:text-4xl"
          >
            {email}
          </a>
        </div>

        <div class="md:col-span-4 md:col-end-13">
          <span class="font-mono text-xs tracking-wider uppercase opacity-50">
            {t('contact.follow')}
          </span>
          <div class="mt-4 flex flex-col gap-4">
            {
              socialMediaLinks.map((social) => (
                <a
                  href={social.to}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-2xl leading-normal transition-opacity hover:opacity-50 md:text-3xl lg:text-4xl"
                >
                  {social.label}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </Container>
  </section>
  <Container class="border-t border-background/50 py-8 text-xs lg:py-16" strategy="margin" grid>
    <p class="col-span-6 md:col-span-5">
      &copy; <TimeLocal datetime={Date.now()} year="numeric" />
      {footer.copyright}
    </p>
    <p class="col-span-6 text-right md:col-span-5 md:col-end-13">{footer.tagline}</p>
  </Container>
</footer>
