---
import type { LanguageKeys } from '@/i18n'
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import LanguageRedirect from '@/components/LanguageRedirect.astro'
import RunningText from '@/components/RunningText.astro'
import CustomCursor from '@/components/vue/CustomCursor.vue'
import SmoothScroll from '@/components/vue/SmoothScroll.vue'

interface Props {
  title: string
  description: string
  lang?: LanguageKeys
  includeLanguageRedirect?: boolean
}

const { title, description, lang = 'en', includeLanguageRedirect = false } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    {includeLanguageRedirect && <LanguageRedirect />}
    <SmoothScroll client:load />
    <CustomCursor lang={lang} client:only="vue" />
    <RunningText />
    <Header lang={lang} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
